<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/A.M.R Studios/Desktop/Hybrib_Automation_Famework/src/test/java/testCases"><classes><class name="testCases.LoginTest"><methods><include name="verify_loginDDT"/></methods></class></classes></test></suite>